.orange {
    /* Text color */
          color: #0099CC; 
    /* Remove background color */
          background: transparent; 
    /* Border thickness, line style, and color */
          border: 2px solid #0099CC;
    /* Adds curve to border corners */
          border-radius: 10px; 
          
    /* Make letters uppercase */
          border: none;
          color: white;
          padding: 16px 32px;
          text-align: center;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          -webkit-transition-duration: 0.4s; /* Safari */
          transition-duration: 0.4s;
          cursor: pointer;
          text-decoration: none;
          text-transform: uppercase;
    }
    .orange {
          background-color: white; 
          color: black; 
          border: 2px solid #008CBA;
    }
    /*button on hover*/
     .orange:hover {
          background-color: #008CBA;
          color: white;
     }